<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>

</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/board/">가벼운 투두 보드</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/board/insert/">할 일 추가</a></li>
        </ul>
      </div>
    </nav>

    {% block main %}

    {% endblock main %}
</body>

{# 체크박스 ajax 스크립트 #}
    <script>
        completed = document.getElementsByName('complete');
        for(var i = 0; i < completed.length; i++){
            completed[i].checked =true;
        }

        $("input[name*=complete]").change(function () {
            if($(this).is(":checked")){
                pk = $(this).attr('data-id');
                $.ajax({
                    type : "POST",
                    url : "{% url 'todo_board:todo_board_is_complete' %}",
                    data : {'data' : pk, 'csrfmiddlewaretoken' : '{{ csrf_token }}'},
                    dataType : "json",
                    success: function (response) {
                        window.location.href = "{% url 'todo_board:todo_board' %}"
                    },
                    error: function (request, status, error) {
                        console.log("실패");
                    },
                });
            }
            else{
                pk = $(this).attr('data-id');
                $.ajax({
                    type : "POST",
                    url : "{% url 'todo_board:todo_board_is_incomplete' %}",
                    data : {'data' : pk, 'csrfmiddlewaretoken' : '{{ csrf_token }}'},
                    dataType : "json",
                    success: function (response) {
                        window.location.href = "{% url 'todo_board:todo_board' %}"
                    },
                    error: function (request, status, error) {
                        console.log("실패");
                    },
                });
            }
        });
    </script>
</html>